<div class="jumbotron p-5 rounded-lg m-3 center">
  <h1 class="display-4">Welcome to MyRecipes</h1>
  <p class="lead">The best recipe sharing app!</p>
  <p><%= link_to "Sign up or Log in", "#", class: 'btn btn-danger btn-lg' %></p>
</div>