$navbar-default-bg: black;
$default-green: #073b15;
$blue-yonder: #4267B2;

@import "bootstrap-sprockets";
@import "bootstrap";

nav.navbar {
  background-color: $blue-yonder;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

nav.navbar .nav-link {
  color: white;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-color: hsl(0, 0%, 94%);
  background-image: asset_url("cover_image.jpg");
}

.jumbotron .display-4,
p.lead {
  color: black;
  font-weight: bold;
}

.btn.btn-lg {
  background-color: $blue-yonder;
  border-color: $blue-yonder;
}

.center {
  text-align: center;
}

body {
  height: 100%;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
