$primary: #090909;
$secondary: #4b5043;
$third: #9bc4bc;
$light: #d3ffe9;
$light-blue: #8ddbe0;
$default-green: #547302;
$default-blue: #1b377f;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: $light;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-nav {
  gap: 25px;
}

.navbar-inverse .navbar-nav > li{
    a{
      padding-right: 20px;
      font-size: 1.4em;
      font-weight: bold;
      text-decoration: none;
    :hover{
    color: #fff;
    }
  }
}


.dropdown-menu > li > a {
  color: $primary;
}

#all-ingredients-tag{
  color: $light;
  background-color: $secondary;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-color: hsl(0, 0%, 94%);
  background-image: asset_url("cover_image.jpg");
}

.jumbotron .display-4,
p.lead {
  color: black;
  font-weight: bold;
}

.btn-secondary{
  background-color: $secondary !important;
  border-color: $secondary !important;
}

.btn-secondary:hover{
  background-color: $primary !important;
  border-color: $primary !important;
}

.center {
  text-align: center;
}

body {
  height: 100%;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.description {
  margin-top: 0;
}

.well a{
  text-decoration: none;
  color: black;
}

.recipes-actions {
  padding-top: 5px;
  a {
    color: white;
  }
}

.listing {
  list-style: none;
  padding-left: 0;
  width: 100px;
}

.chef-title{
  color: $default-blue;
  font-weight: bold;
  font-size: 1.25em;
}

.pagination {
  justify-content: center;
}

.pagination > .active > a {
  background-color: $secondary !important;
  border-color: $secondary !important;
}

.input_checkbox input{
  width: auto !important;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  margin-top: -6px;
  margin-bottom: 0;
  padding-top: 7px;
}

.center-block {
  float: none;
}

.chat-container{
  margin: 150px 0 0 0;
  width: 100%;
}

.message-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .form-horizontal{
    position: relatiev;
    width: 100%;
  }
  .form-container{
    display: flex;
    justify-content: space-between;
  }
  .form-control {
    width: 85%;
    height: 54px;
  }
  .btn {
    width: 15%;
    margin-left: 10px;
  }
}

.message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
  p {
    margin-left: 5px;
  }
}

.messages {
  border: 1px solid #eaeaea;
  height: 80%;
  overflow: auto;
}

.badge{
  background-color: $light-blue;
  margin: 0.25em;
}

.cards-main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.cards-container {
  height: 380px;
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.chefs-cards-container {
  min-height: 320px;
  max-height: 480px;
  min-width: 320px;
  max-width: 480px;
  gap: 4em;
  .listing{
    width: 35%;
  }
}

.ingredient-well{
  border-radius: 100%;
}